




li {
  color: black;
}

li:hover{
  color: white;
}




@font-face {
  font-family: ophelia;
  src: url("./Pics/Ofelia.otf");
  color:#000000
 
}


.App {
  text-align: center;
}

.The-logo {
  position: relative;
  top: 20%;
  right: 75px;
  transition: .4s ease-in;
  opacity: 1;
}

.The-logo:hover {
  position: relative;
  opacity: 0;
}

.pain {
  color: brown;
  position: relative;
  top: 600px;
  opacity: 0;
}




.My-logo {
  height: 20vmin;
  transition: 2.4s ease-in-out;
}

.My-logo:hover {
  height: 20vmin;
 
  background-color: rgb(255, 0, 0);
  transition: 1.5s;

}

.App-logo {
  height: 70vmin;
  pointer-events: none;
}

.Logo-Home{
  height: 5vh;
  height: 5vh;
  position: relative;
  top: 25px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #000000;
}

.nav-link {
  color: #ff0000;
  list-style: none;
  text-decoration: none;

  display: inline-block;
  width: 50%;
  justify-content: space-around;
  align-items: center;

  min-height: 10vh;

  background-color: azure;
  list-style: none;
}

.big-glow {
  font-size: 45px;
  
  transition: 1.0s ease-in-out; 
}


.grid-container {
  display: flex;
  grid-column-gap: 5vh;
  grid-template-columns: auto auto auto auto;
  list-style: none;

  
}

.grid-item {
  flex: 1;
  font-family: ophelia;
  padding: 01vw;
  font-size: 2vw;
  text-align: center; 
  color: rgb(0, 0, 0);
  transition: 1.0s ease-in-out;
  white-space: nowrap;
  
}

@keyframes name-of-animation {
  0% {
    transform: rotate(-10deg);
  } 15% {
    transform: rotate(-deg);
  } 25% {
    transform: rotate(0deg);
  }
 
}

/*------------------------------------------------------------------------------------------------------------------------------------ */

.killme {
  color:black;
  font-family: ophelia;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;

}

.killme:hover {
  color:rgb(255, 255, 255);
  animation: name-of-animation 1.7s;
  transition: 0.5s;
  border-radius: 25px;
  background-color: #ff3838;
  animation: name-of-animation 1.7s;
  transition: 0.5s; 


  
  
}


.p-custom {
  font-size: 20px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

