.hide {
  opacity: 0;
  transition: 1 ease-in-out;


}

.hide:hover {
  opacity: 1;
  transition: 1 ease-in-out;



}


.bottom_layer{
  /*OG size 1000px by 1000px*/
  /*-*/
  height: 800px;
  width: 800px;
  position: relative;

}

.cpu_layer{
  height: 167px;
  width: 157px;
  /*OG size 1000px by 1000px*/
  /*-*/
  transition: 1.1s ease-in-out;
  
  position: relative;

  top:-666px;
  right: 128px
  
}

.cpu_layer:hover{

  /*OG size 1000px by 1000px*/
  /*-*/
  transition: .4s ease-in;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
 

}

.ssd_layer{
  height: 33px;
  width: 143px;
  /*OG size 1000px by 1000px*/
  /*-*/
  transition: 1.1s ease-in-out;
  
  position: relative;

  top:-757px;
  right: 139px
  
}

.ssd_layer:hover{

  /*OG size 1000px by 1000px*/
  /*-*/
  transition: .4s ease-in;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
 

}

.gpu_layer{
  width: 521px;

  /*OG size 1000px by 1000px*/
  /*-*/
  transition: 1.1s ease-in-out;
  
  position: relative;

  top:-855px;
  right: 100px
  
}

.gpu_layer:hover{

  /*OG size 1000px by 1000px*/
  /*-*/
  transition: .4s ease-in;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
 

}

.text {
  color: aliceblue;
  position: relative;
  top: -800px;
  left: 600px;
}

.text:hover {
  display: none;
}


.ssd_text {
  color: rgb(153, 183, 209);
  position: relative;
  top: -25px;
  z-index: 1;
}

.gpu_text {
  color: aliceblue;
  position: relative;
  top: -1000px;
  left: 600px;
}



.top_image{
  position: fixed;



}

.test_filter {

  position: fixed;
  top: 300px;


}



