.hide {
  opacity: 0;
  transition: 1 ease-in-out;


}

.hide:hover {
  opacity: 1;
  transition: 1 ease-in-out;



}

.bottom_layer{
  /*OG size 1000px by 1000px*/
  /*-*/
  height: 800px;
  width: 800px;
  position: relative;

}



.gpu_layer{
  width: 521px;

  /*OG size 1000px by 1000px*/
  /*-*/
  transition: 1.1s ease-in-out;
  
  position: relative;

  top:-855px;
  right: 100px
  
}

.gpu_layer:hover{

  /*OG size 1000px by 1000px*/
  /*-*/
  transition: .4s ease-in;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
 

}



.gpu_text {
  color: aliceblue;
  position: relative;
  top: -1000px;
  left: 600px;
}


.gpu_text:hover {
  display: none;
}






.top_image{
  position: fixed;


}

.test_filter {

  position: fixed;
  top: 300px;


}




.Iam {
  /*OG size 1000px by 1000px*/
  /*-*/
  height: 250px;
  width: 250px;

}

.linefx {
  position: relative;
  border: none;
  font-size: 0;


  
}

.proj-grid-container {
  display: flex;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #000000;
  list-style-type: none;
  
  
}

.proj-grid-item {
  width: 800px;
  height: 520px;
  flex: 1;
  background-color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center; 
  color: rgb(0, 0, 0);
  transition: 1.0s ease-in-out;
  list-style-type: none;
  z-index: 1;
  
}

.proj-grid-item:hover {
  background-color: #550f0f;
  border: 5px solid rgb(0, 0, 0);
  border-color: #550f0f;
  color: white;
  width: 850px;
  height: 620px;
  transition: 1.0s ease-in-out;
  opacity: 1;
  
}

.container {
  position: relative;
  text-align: center;
  color: rgba(255, 255, 255, 0);
}

.container:hover {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  opacity: 1;
}

.centered {
  font-family: monospace;
  font-size: 40px;
  top: 20%;
  left: 10%;
  position: absolute;
  text-align: center;
  transition: 2.5s ease-in-out;
}
