.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1c232c;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-link {
  color: #000000;
  list-style: none;
  text-decoration: none;

  display: inline-block;
  width: 30%;
  justify-content: space-around;
  align-items: center;

  min-height: 10vh;

  background-color: azure;
  list-style: none;
}

.big-glow {
  
  font-size: 50px;
  color: rgb(255, 255, 255);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.grid-container {
  display: flex;
  grid-column-gap: 0px;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #000000;
  padding: 5px 5px 5px 5px;
  list-style: none;
  
}

.grid-item {
  font-family: monospace;
  flex: 1;
  background-color: rgb(240, 52, 52);
  border: 5px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: 30px;
  text-align: center; 
  color: rgb(0, 0, 0);
  
}

.grid-item:hover {
  background-color: #550f0f;
  border: 5px solid #550f0f;
  color: white;
  width: 250px;
  padding: 25px;
  
}

/*------------------------------------------------------------------------------------------------------------------------------------ */

.content{
  content: '\00bb';


}

.button span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: -80px;
  transition: 0.45s;
}

.button:hover span {
  padding-right: 50px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.nav {

  background-color: black;
  
}


.transition-wrapper {
  position: relative;
  z-index: 1;
}

.transition-wrapper .transition-item {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.detail-page {
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  height: 100vh;
  /* background-color: #03a9f4; */
  transition: transform 0.5s, opacity 0.5s;
}


 
.Logo-Home {
  height: 60px;
  margin-top: -15 q px;
}