body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color:#ffffff;
  list-style: none;

}


